
<nav class="navbar navbar-expand-lg" style="height: 60px; background-color:rgb(255, 115, 0);">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../assets/img/arg-programa-logo-personalizado.png" alt="arg-programa" height="50 px">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px; align-items:center;">
          <li class="nav-item">
            <a class="nav-link active nav-bar-item-center" aria-current="page" href="app.component.html" style="font-family: 'Advent Pro', sans-serif; font-size: 20px;">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active nav-bar-item-center" aria-current="page" href="#" style="font-family: 'Advent Pro', sans-serif; font-size: 20px;">Proyectos</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle nav-bar-item-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-family: 'Advent Pro', sans-serif; font-size: 20px;">
              Más información
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Ingeniería</a></li>
              <li><a class="dropdown-item" href="#">Tecnicatura</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Programación</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled nav-bar-item-center" style="font-family: 'Advent Pro', sans-serif; font-size: 20px; margin-left: 350px;">Mis redes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-bar-item-center" href="https://www.linkedin.com/in/francisco-nicol%C3%A1s-ruiz/" target="_blank"><img src="../assets/img/logo-linkedin.png" alt="logo-linkedin" height="30 px"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-bar-item-center" href="https://github.com/FranciscoRuiz000" target="_blank"><img src="../assets/img/logo-github.png" alt="logo-github" height="30 px"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-bar-item-center" href="https://www.facebook.com/francisconicolas.ruiz.16/" target="_blank"><img src="../assets/img/logo- facebook.png" alt="logo-facebook" height="30 px"></a>
          </li>
        </ul>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa-duotone fa-user-lock"></i>
          </button>
      </div>
      <div>
        <ul id="login">
      <li class="nav-item">
        <a class="nav-link disabled" style="font-family: 'Advent Pro', sans-serif; font-size: 20px; margin-top: 27px;">Iniciar sesión</a>
      </li>
      <!-- Botón de LOGIN-->
      <li class="nav-item" >
      <a class="nav-link nav-bar" href="login.html">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal" style="background-color:rgb(132, 230, 255); margin-bottom: 5px;">
          <img src="../assets/img/logo-usuario-lock.png" alt="logo-usuario-lock" height="30 px">
        </button>
      </a>
      </li>
    </ul>
      </div>
    </div>
  </nav>